.pulsate {
  animation: pulsate 2s linear infinite both;
}

@keyframes pulsate {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.shake {
  animation: shake 0.1s 5;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(5px);
  }
}

.clean {
  animation: clean 1s cubic-bezier(0.165, 0.84, 0.44, 1) both;
}

@keyframes clean {
  0% {
    transform: scale(1);
    filter: blur(0px);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    filter: blur(4px);
    opacity: 0;
  }
}

.blink {
  animation: blink 1.5s infinite both;
}

@keyframes blink {
  0% {
    background-color: white;
  }
  50% {
    background-color: #95ffff;
  }

  100% {
    background-color: white;
  }
}
