.pulsate {
  animation: pulsate 2s linear infinite both;
}

@keyframes pulsate {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.shake {
  animation: shake 0.1s 5;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(5px);
  }
}

.clean {
  animation: cleanme 0.5s 1;
  transform: translateY(-600px);
}

@keyframes cleanme {
  0% {
    transform: translateY(0px) rotate3d(0, 0, 0, 0deg);
  }
  100% {
    transform: translateY(-600px) rotate3d(0, 0, 0, 0deg);
  }
}
