@font-face {
  font-family: 'Futura Condensed';
  src: local('Futura Condensed'),
    url('../assests/fonts/Futura\ Condensed\ Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Futura Condensed Bold';
  src: local('Futura Condensed Bold'),
    url('../assests/fonts/Futura\ Condensed\ Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Futura Condensed Light';
  src: local('Futura Condensed Bold'),
    url('../assests/fonts/Futura\ Condensed\ Light\ Regular.otf') format('opentype');
}

body * {
  font-family: 'Futura Condensed','sans-serif';
}

body {
  margin: 0;
  height: 100vh;
  background-image: url('../assests/img/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

