body * {
  font-family: 'Exo 2', 'Lato', 'Helvetica Neue', sans-serif;
}

body {
  margin: 0;
  background-image: url('../assests/img/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
