@import '../../style/mixins';

.markup {
  color: rgba($color: #00fffb, $alpha: 0.4);
  border: 1px solid white;
  padding: 10px 20px ;
  font-family: monospace;
  justify-self: center;
  font-size: 20px;
  div {
    cursor: pointer;
    padding-left: 25px;
  }

  * {
    font-family: monospace;
  }

 @include media-desktop {
  font-size: 15px;
 }
 @include media-pre-mobile {
  width: 80%;
  margin: auto;
}

}

.highlighten {
  color: white;

  font-weight: 500;
}
