.css-form__wrapper {
  align-self: center;
}

.css-form {
  background-color: white;
  width: 60%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.css-input {
  border: none;
  outline: none;
  font-size: 30px;
  padding: 5px; 
}

.css-submit {
  font-size: 20px;
  cursor: pointer;
  &:hover {
    background-color: rgba($color: #000000, $alpha: 0.2);
  }
}