.navigation {
  color: white;
  font-size: 25px;
}

.level-list {
  color: rgba($color: #fff, $alpha: 0.6);
  font-size: 25px;
  padding: 0;
  width: max-content;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.level-item {
  cursor: pointer;
  &:hover {
    color: rgba($color: #fff, $alpha: 0.8);
  }
  &.done {
    &::after {
      width: 32px;
      height: 24px;
      right: -70px;
    }
  }
  &.help {
    &::before {
      width: 32px;
      height: 24px;
      left: calc(100% + 10px);
    }
  }
  
}

.current-level {
  color: #fff;
  &:hover {
    color: #fff;
  }
}

.done {
  position: relative;
  &::after {
    position: absolute;
    content: '';
    width: 33px;
    height: 45px;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../../assests/icons/check.png');
    right: -52px;
  }
}

.help {
  position: relative;
  &::before {
    content: '';
    width: 30px;
    height: 45px;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../../assests/icons/help.png');
    left: -40px;
  }
}

.lvl-control {
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: cover;
  padding: 0;
  outline: none;
  border: none;
  &:disabled {
    background: transparent;
    cursor: default;
  }
}

.prev-lvl {
  order: 0;
  background-image: url('../../assests/icons/arrow-left.png');
}

.next-lvl {
  order: 1;
  background-image: url('../../assests/icons/arrow-right.png');
}

.title-wrapper {
  display: flex;
  font-family: 'Futura Condensed Bold';
  font-size: 25px;
  justify-content: space-evenly;
  align-items: center;
}

tag {
  font-family: monospace;
  background-color: rgba($color: #fff, $alpha: 0.2);
  padding: 0 3px;
  border-radius: 2px;
  &::after {
    content: '>';
  }
  &::before {
    content: '<';
  }
}

.examples {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  font-size: 1.17em;
  font-weight: 700;
}

.example {
  font-size: 25px;
  font-weight: 400;
}
