.navigation {
  color: white;
}

.level-list {
  color: rgba($color: #fff, $alpha: 0.6);
.level-item {
  cursor: pointer;
  &:hover {
    color: rgba($color: #fff, $alpha: 0.8);
  }
  &.done {
    &::after {
      right: -70px;
    }
  }
  &.help {
    &::before {
      left: calc(100% + 10px);
    }
  }
}

.current-level {
  color: #fff;
}

.done {
  position: relative;
  &::after {
    position: absolute;
    content: 'Done';
    left: 30%;
    color: green;
    top: 50%;
    transform: translateY(-50%);
  }
}

.help {
  position: relative;
  &::before {
    position: absolute;
.lvl-control {
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: cover;
  padding: 0;
  outline: none;
  border: none;
  &:disabled {
    background: transparent;
    cursor: default;
  }
}

.prev-lvl {
  order: 0;
  background-image: url('../../assests/icons/arrow-left.svg');
}

.next-lvl {
  order: 1;
  background-image: url('../../assests/icons/arrow-right.svg');
}