.navigation {
  color: white;
}

.level-list {
  color: rgba($color: #fff, $alpha: 0.6);
}

.current-level {
  color: #fff;
}

.done {
  position: relative;
  &::after {
    position: absolute;
    content: 'Done';
    left: 30%;
    color: green;
    top: 50%;
    transform: translateY(-50%);
  }
}
