.main {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.game-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 500px 1fr;
  row-gap: 20px;
}

.game {
  flex-grow: 1;
}

.menu {
  flex-basis: 35%;
  background-color: rgba($color: #7d7777, $alpha: 0.2);
  border-left: 1px solid white;
}

.menu-container {
  padding: 10px 20px;
}