@import '../../style/placeholders.scss';

.board {
  position: relative;
  grid-column: 1/3;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  &__title {
    text-align: center;
    font-size: 30px;
    color: rgba($color: #ffffff, $alpha: 0.4);
  }

  &__field {
    width: fit-content;
    margin: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    background-color: #2fc82e;
    border-radius: 20px;
  }

  &__helper {
    position: absolute;
    display: none;
    color: white;
    border-radius: 5px;
    background-color: #86572a;
    padding: 5px;
  }
}

  &__help {
    cursor: pointer;
    border-radius: 5px;
    color: rgb(208, 203, 203);
    background-color: transparent;
    border: none;
    outline: none;
    width: 180px;
    margin: auto;
    font-size: 25px;

    &:hover {
      color: white;
    }
  }
}


necklace {
  @extend %board-item;
  background-image: url('../../assests/img/necklace.png');

  sapphire {
    @extend %board-inner-necklace-item;
    background-image: url('../../assests/img/inner-sapphire.png');
  }

  ruby {
    @extend %board-inner-necklace-item;
    background-image: url('../../assests/img/inner-ruby.png');
  }

  &.gold {
    background-image: url('../../assests/img/gold-necklace.png');
  }

  &#empire {
    background-image: url('../../assests/img/empire-necklace.png');
  }
}

ring {
  @extend %board-item;
  box-sizing: border-box;
  background-image: url('../../assests/img/ring.png');
  ruby {
    @extend %board-inner-ring-item;
    background-image: url('../../assests/img/inner-ring-ruby.png');
  }
  &.gold {
    background-image: url('../../assests/img/gold-ring.png');
  }
}

ruby {
  @extend %board-item;
  box-sizing: border-box;
  background-image: url('../../assests/img/ruby.png');
}
