@import '../../style/mixins';

.navigation {
  color: white;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.nav-title {
  margin: 20px 0;
}

.level-list {
  color: rgba($color: #fff, $alpha: 0.6);
  font-size: 30px;
  display: flex;
  width: max-content;
  flex-direction: column;
  row-gap: 10px;
  margin: 0;
  padding: 0 60px;
  @include media-desktop {
    font-size: 22px;
  }
}

.level-item {
  cursor: pointer;
  &:hover {
    color: rgba($color: #fff, $alpha: 0.8);
  }
  &.done {
    &::after {
      width: 32px;
      height: 100%;
      right: -50px;
    }
  }
  &.help {
    &::before {
      width: 32px;
      height: 30px;
      left: -60px;
    }
  }
}

.current-level {
  color: #fff;
  &:hover {
    color: #fff;
  }
}

.done {
  position: relative;
  &::after {
    position: absolute;
    content: '';
    width: 33px;
    height: 45px;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../../assets/icons/check.png');
    right: -52px;
  }
}

.help {
  position: relative;
  &::before {
    content: '';
    width: 30px;
    height: 45px;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../../assets/icons/help.png');
    left: -40px;
  }
}

.reset-button {
  cursor: pointer;
  font-size: 25px;
  border: none;
  outline: none;
  border-radius: 2px;
  margin: 40px auto 0;
  &:hover {
    background-color: rgba($color: #fff, $alpha: 0.7);
  }
}
